<center><h2>Basico de Python (Estrutura de dados)
</center>

<b>1. Tuplas ou Lista: </b>
Uma Tupla é uma sequencia ordenada de zero ou mais referencias de objeto. Assim como as strings, as tuplas também são imutáveis.

In [76]:
#Exemplo 1.1
planeta = "marte", "venus", "terra"

In [77]:
planeta

('marte', 'venus', 'terra')

caso queira mudar algo na tupla, converta ela em uma lista

In [78]:
#exemplo 1.2
planetas = list(planeta)

In [79]:
type(planetas)

list

1.1 alguns metodos uteis para se usar com listas.

In [80]:
# exemplo 1.1.1 append(x) - Anexa o item x no final da lista
planetas.append("plutao")

In [81]:
planetas

['marte', 'venus', 'terra', 'plutao']

In [82]:
# exemplo 1.1.2 count(x) - retorna o número de vezes que o item x ocorreu na lista
planetas.append("terra")
planetas.count("terra")

2

In [83]:
# exemplo 1.1.3 insert(i,x) - insere o item x dentro da lista na posição de índice int i
planetas.insert(0, "planeta do goku")

In [84]:
planetas

['planeta do goku', 'marte', 'venus', 'terra', 'plutao', 'terra']

In [85]:
#exemplo 1.1.4 remove(x) remove a primeira ocorrencia a partir da esquerda do item x da lista, 
#ou lança exceção valueerror se x não for encontrado.
planetas.remove("plutao")

In [86]:
planetas

['planeta do goku', 'marte', 'venus', 'terra', 'terra']

In [87]:
planetas.remove("venus")

In [88]:
#exemplo 1.1.5 sort() classifica lista alterando
planetas.sort()

In [89]:
planetas

['marte', 'planeta do goku', 'terra', 'terra']

Observação: se faz muito interessante entender, em python a metodos e atributos, quando se usa () é metodo, se nao tiver é um atributo.

In [51]:
#exemplo 1.1.6 len(x) o metodo len será muito usado, serve para sabemos o tamanho da lista que estamos trabalhando.
len(planetas)

3

<b>Exercicio 1.</b> Hummm interessante, agora que vimos nossa primeira estrutura de dados, vamos fazer um exercicio bem legal.
Voce tem uma tupla chamada feira.
A feira contém: banana, pera, batata, uva, cebola, alho e açucar.

Teu chefe te mandou a feira, e pediu para voce contrar esses produtos, um deles não da para comprar lá remova ele da lista. No caminho ele te ligou mandou voce também comprar maça e cenoura.

Ele é mega chato, e mandou voce separar em duas sacolas, o que é fruta e o que é legume e entregar tudo ordenado.

<b>feira = "banana", "pera", "batata", "uva", "cebola", "alho", "açucar""</b>

In [25]:
feira2 = "batata", "cebola","alho" 
feira1 = "banana", "pera", "uva", "açucar"

In [26]:
feira1 = list(feira1)
feira2 = list(feira2)

In [27]:
type(feira1)
type(feira2)

list

In [28]:
feira1.append('maça')

In [29]:
feira2.append('cenoura')

In [30]:
feira1.sort()
feira2.sort()

In [39]:
print("Lista frutas", feira1, 'Lista legumes', feira2)

Lista frutas ['açucar', 'banana', 'maça', 'pera', 'uva'] Lista legumes ['alho', 'batata', 'cebola', 'cenoura']

<b>Exercicio2.</b> Lista: (4,5,3,4,56,3,2,31,1,7,8,9,0,234,7,8,9). Orde a lista mostre os valores repitidos.

In [18]:
lista = [4,5,3,4,56,3,2,31,1,7,8,9,0,234,7,8,9]
#utilizei o for pra procurar valores com o #set na lista que sao contados mais de uma vez.
S_R = [item for item in set(lista) if lista.count(item) > 1]

In [19]:
S_R.sort()

In [21]:
S_R

[3, 4, 7, 8, 9]

In [40]:
lista = [4,5,3,4,56,3,2,31,1,7,8,9,0,234,7,8,9]
S_R = []
#utilizei o for para encontrar o i na lista e se nao encontrar preencher com os valores da lista, como o append preecnhe valores unicos ele nao duplicou os valores.
for i in lista :
    if i not in S_R:
        S_R.append(i)

In [41]:
S_R.sort()

In [42]:
S_R

[0, 1, 2, 3, 4, 5, 7, 8, 9, 31, 56, 234]

<b>2. Dicionários: </b> Chamado de dict, é uma coleção desordenada de zero ou mais pares de chave-valor, no qual as chaves são referencia de objetos que se referem a objetos hashable e os valores são refrencia de objetos referidos a objetos de qualquer tipo. Dicionários são mutáveis; portanto, podemos facilmente adicionar ou remover itens, mas já que eles são desordenados, não possuem noção da posição de índice e, logo, não podem ser fatiados ou receber passos.

In [69]:
# exemplo 2.1
d2 = dict({"id": 1948, "name": "Washer", "size": 3})

In [70]:
d2

{'id': 1948, 'name': 'Washer', 'size': 3}

In [71]:
dados = ['Thiago', 'Guaruja']

In [81]:
d1 = dict({'342453': dados })

In [82]:
d1

{'342453': ['Thiago', 'Guaruja']}

In [80]:
#exemplo 2.2 - copy() - cria uma copia do dict
dc = d1.copy()

In [26]:
dc

{'342453': ['Thiago', 'Guaruja']}

In [27]:
#exemplo 2.3 - get(k) -  retorna uma chave do valor associado de k ou None, se k não estiver em dict
print(dc.get('name'))

None

In [28]:
#exemplo 2.4 - items() retorna uma visualização de todas as chaves em dict
d1.items()

dict_items([('342453', ['Thiago', 'Guaruja'])])

In [29]:
for x in d1.items():
    print(x)

('342453', ['Thiago', 'Guaruja'])

In [30]:
#exemplo 2.5 - keys() retorna uma visualização de todas as chaves em dict
d1.keys()

dict_keys(['342453'])

In [31]:
#exemplo 2.6 - values() -  retorna uma visualização de todos os valores em dict
d1.values()

dict_values([['Thiago', 'Guaruja']])

In [32]:
for a in d1.values():
    print(a)

['Thiago', 'Guaruja']

In [33]:
for chave,valor in d1.items():
    print(chave)
    print(valor)

342453
['Thiago', 'Guaruja']

Exercicio 2. vamos voltar a feira, crie um dicionario, com os seguintes itens: banana = 0.98, maçã = 7.00, pera = 5.00, cenoura = 3.5
Apos montar o dicionario, quero que fa

In [ ]:
cenoura = 3.5
banana = 0.98
maçã = 7.00
pera = 5.00

for i in